.parallax-bg {
  width: 100%;
}

.parallax-bg__container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.parallax-bg__wrapper {
  min-height: 50px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

.parallax-bg__image {
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  height: 180%;
  position: absolute;
  width: 100%;
}

@media (max-width: 550px) {
  .parallax-bg__container {
    height: max-content !important;
    padding: 32px 0;
  }
}
