@use '../../variables.scss' as v;

.services-cards {
  width: 100%;
  padding: 75px 16px;
}

.services-cards__wrapper {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.services-cards__title {
  color: v.$title;
  font-family: 'Oswald';
  font-size: 40px;
  font-style: normal;
  letter-spacing: 0.5px;
  line-height: 50px;
  text-decoration: none;
  text-transform: none;
  margin-bottom: 15px;
  margin-top: 25px;
  font-weight: normal;
}

.services-cards__cards {
  display: flex;
  flex-wrap: wrap;
}

.services-cards__item {
  width: calc((100% / 3) - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  background-color: v.$color-white;
  padding-bottom: 50px;
  box-shadow: 0 10px 20px 0 v.$shadow;
  border-radius: 4px;
  margin: 10px;
}

.services-cards__name {
  color: v.$title;
  font-family: 'Oswald';
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 30px;
  text-decoration: none;
  text-transform: none;
  text-align: center;
  font-weight: 600;
}

.services-cards__image {
  width: 100%;
  height: 250px;
  overflow: hidden;
  background-size: cover;
}

.services-cards__image div {
  height: 100%;
  background-position: center;
}

.services-cards__button {
  transition:
    background 0.2s ease,
    box-shadow 0.2s ease;
}

.services-cards__button:hover {
  transform: none;
  background-color: v.$color-pink;
  box-shadow: inherit;
}

@media (max-width: 1024px) {
  .services-cards__item {
    width: calc((100% / 2) - 20px);
  }
}

@media (max-width: 700px) {
  .services-cards__image {
    position: relative;
  }

  .services-cards__item {
    width: 100%;
  }
}
