@use '../../variables.scss' as v;

.navigation-wrapper {
  display: flex;
  width: 100%;
  border-bottom: 2px solid v.$primary;
  justify-content: center;
}

.navigation-wrapper.no-border {
  border: none;
}

.navigation {
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  max-width: 1170px;
  height: 55px;
  margin: 0 16px;
}

.navigation__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navigation__item {
  text-transform: uppercase;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  text-align: start;
  letter-spacing: 1px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  position: relative;
}

.navigation__item > a {
  position: relative;
  color: v.$title;
  padding: 16px;
}

.navigation__item > a:hover {
  color: v.$primary;
}

.navigation__item > a::after {
  position: absolute;
  display: block;
  content: '';
  height: 5px;
  bottom: -5px;
  left: 50%;
  background-color: v.$primary;
  transition: 0.3s ease;
  width: 0;
  transform: translateX(-50%);
}

.navigation__item > a:hover::after {
  width: 100%;
}

.navigation__item > a.active::after {
  width: 100%;
}
.navigation__item > a.active {
  color: v.$primary;
}

// footer styles

.navigation-footer__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.navigation-footer__item {
  display: block;
}

.navigation-footer__item a {
  display: block;
  padding: 15px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 12px;
  text-decoration: none;
  text-align: left;
  text-transform: uppercase;
  color: white;
  transition: color 0.1s ease;
}

.navigation-footer__item a.active {
  color: v.$secondary;
}

.navigation-footer__item a:hover {
  color: v.$accent;
}

// burger styles

.burger {
  display: flex;
  align-items: center;
  height: 51px;
  padding-right: 16px;
  border-bottom: 2px solid v.$primary;
}

.burger .navigation-wrapper {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  max-width: 360px;
  background-color: white;
  padding: 75px 30px 30px 30px;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 0.2s ease;
  overflow: auto;
}

.burger.burger--expanded .navigation-wrapper {
  transform: translateX(0);
}

.burger-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: v.$shadow;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
  z-index: 999;
}

.burger-bg.burger--expanded {
  pointer-events: all;
  opacity: 1;
}

.navigation-burger {
  padding-left: 40px;
}

.navigation-burger__list {
  padding-inline-start: 0;
}

.navigation-burger__item {
  position: relative;
}

.navigation-burger__item a {
  display: block;
  padding: 20px;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 14px;
  text-decoration: none;
  text-align: left;
  text-transform: uppercase;
  color: v.$text;
  transition: color 0.15s ease;
}

.navigation-burger__item a.active {
  color: v.$primary;
}

.navigation-burger__item a:hover {
  color: v.$primary;
}
