$primary: rgba(253, 7, 178, 1);
$secondary: rgba(19, 162, 197, 1);
$accent: rgba(8, 189, 232, 1);
$title: rgba(66, 66, 66, 1);
$subtitle: rgba(29, 29, 31, 0.4);
$text: rgba(66, 66, 66, 1);
$icon: rgba(66, 66, 66, 1);
$title-inverse: #ffffff;
$text-inverse: rgba(255, 255, 255, 0.4);
$bg-primary: #ffffff;
$bg-secondary: #f5f8f8;
$bg-dark: #1e293d;
$bg-dark-accent: #20364c;
$border: #eeeeee;
$shadow: rgba(0, 0, 0, 0.15);
$overlay: rgba(0, 0, 0, 0.5);
$hover: #2f3439;
$color-1: rgba(255, 249, 251, 1);
$color-2: rgba(235, 87, 183, 1);
$color-3: rgba(37, 185, 222, 1);
$color-4: #ff4f49;
$color-5: #ff7a2f;
$color-6: #ffc700;
$color-7: #34dca2;
$color-8: #00ada9;
